@import "~bootstrap/scss/bootstrap";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $grey-light;
  font-family: "Open Sans";
}

header {
  height: 80px;
}
