@import "~bootstrap/scss/bootstrap";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $grey-light;
  font-family: "Open Sans";
}

header {
  height: 80px;
}

button {
  border: none;
  background-color: $white;
}

.client-data-details-title {
  align-items: center;
  border-bottom: 1px solid $grey-lightest;
  color: $blue-dark;
  display: flex;
  font-weight: 600;
  height: 80px;
  letter-spacing: 0.75px;
  line-height: 20.43px;
}

.client-data-details-list {
  font-size: 14px;
  letter-spacing: 0.75px;
  font-weight: 400;
  line-height: 20.48px;
  padding-top: 20px;
}

.client-data-details-list dt {
  font-weight: 400;
}

.client-data-details-list dd {
  margin-bottom: 20px;
}

.navigation-items {
  align-items: center;
  border-bottom: 3px solid $grey-lightest;
  box-sizing: content-box;
  color: $blue-dark;
  display: flex;
  font-size: 14px;
  gap: 30px;
  height: 80px;
  letter-spacing: 0.75px;
  list-style: none;
}

.active {
  font-weight: 600;
  position: relative;
}

.active:after {
  background: $green;
  border-radius: 2px;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transform: translateY(32px);
  width: 100%;
}

.payment-details {
  border-radius: $bored-radius;
  box-shadow: $box-shadow-dark;
  font-size: 14px;
  padding-left: 30px;
  overflow: hidden;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-right: 8px;
  width: 6px;
}

.circle-blue {
  background-color: $blue-light;
}

.circle-green {
  background-color: $green;
}

.circle-red {
  background-color: $red;
}

.payment-amount {
  font-size: 16px;
  font-weight: 600;
}

.payment-status {
  letter-spacing: 0.75px;
}

.payment-history-table-titles-list {
  color: $grey-medium;
  font-size: 14px;
  letter-spacing: 0.5px;
  list-style: none;
  margin-bottom: 16px;
  padding-top: 30px;
  padding-left: 19px;
}

.payment-history-table-list {
  gap: 16px;
  list-style: none;
}

.arrow-right {
  transform: translateX(-10px);
}
