@import "~bootstrap/scss/bootstrap";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $grey-light;
  font-family: "Open Sans";
}

header {
  height: 80px;
}

button {
  border: none;
  background-color: $white;
}

.client-data-details-title {
  align-items: center;
  border-bottom: 1px solid $grey-lightest;
  color: $blue-dark;
  display: flex;
  font-weight: 600;
  height: 80px;
  letter-spacing: 0.75px;
  line-height: 20.43px;
}

.client-data-details-list {
  font-size: 14px;
  letter-spacing: 0.75px;
  font-weight: 400;
  line-height: 20.48px;
  padding-top: 20px;
}

.client-data-details-list dt {
  font-weight: 400;
}

.client-data-details-list dd {
  margin-bottom: 20px;
}

.navigation-items {
  align-items: center;
  border-bottom: 3px solid $grey-lightest;
  box-sizing: content-box;
  color: $blue-dark;
  display: flex;
  font-size: 14px;
  gap: 30px;
  height: 80px;
  letter-spacing: 0.75px;
  list-style: none;
}

.active {
  font-weight: 600;
  position: relative;
}

.active:after {
  background: $green;
  border-radius: 2px;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transform: translateY(32px);
  width: 100%;
}
