@import "bootstrap";
@import "variables";
@import "custom";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $grey-light;
  color: $grey-dark;
  font-family: "Open Sans";
}

button {
  border: none;
  background-color: $white;
}

.header {
  box-shadow: $box-shadow-light;
  height: 80px;
}

.client-data-details__title {
  @include fs15-blue;

  border-bottom: $border-line-sm;
  height: 80px;
  padding-left: 20px;
}

.client-data-details__list {
  @include fs14-fw400-wide;

  padding: 20px 0 0 20px;
}

.navigation-items__list {
  @include fs14-fw400-wide-blue;

  border-bottom: $border-line-strong;
  box-sizing: content-box;
  gap: 30px;
  height: 80px;
  list-style: none;
}

.active-navigation-item {
  font-weight: 600;
  position: relative;

  &:after {
    background: $green;
    border-radius: $border-radius-sm;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    transform: translateY(29px);
    width: 100%;
  }
}

.payment-history-table__titles-list {
  @include fs14-fw400-tight-grey;

  list-style: none;
  padding: 30px 0 0 20px;
}

.payment-history-table__items-list {
  gap: 16px;
  list-style: none;
}

.payment-history-table__item-card {
  @include fs14-fw400;

  border-radius: $border-radius;
  box-shadow: $box-shadow-dark;
  overflow: hidden;
}

.payment-history-table__item-visible-part {
  height: 79px;
  padding-left: 20px;
}

.arrow-right {
  padding-right: 7.57px;
}

.payment-type {
  letter-spacing: 0.75px;
}

.payment-amount {
  @include fs16;
}

.payment-status {
  letter-spacing: 0.75px;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  height: 6px;
  margin-right: 8px;
  width: 6px;
}

.circle-blue {
  background-color: $blue-light;
}

.circle-green {
  background-color: $green;
}

.circle-red {
  background-color: $red;
}

.rotate-180 {
  transform: rotate(180deg);
}

.payment-history-table__item-collapsible-part-data {
  border-top: $border-line-sm;
  height: 91px;
  padding-left: 20px;
}

.payment-history-table__item-collapsible-part-data-list dd {
  font-size: 15px;
}

.payment-history-table__item-collapsible-part-download {
  border-top: $border-line-sm;
  height: 100px;
  padding-left: 20px;
}
