@import "custom";
@import "bootstrap";
@import "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $grey-lightest;
  color: $grey-dark;
  font-family: "Open Sans";
}

p {
  margin: 0;
}

button {
  background-color: $white;
  border: none;
}

.header {
  box-shadow: $box-shadow-light;
  height: 80px;
}

.menu-icon {
  background-color: $grey-light;
  border-radius: $border-radius-round;
  gap: 2.43px;
  height: 30px;
  margin-right: 15px;
  width: 30px;
}

.dot {
  background-color: $blue-dark;
  border-radius: $border-radius-round;
  display: inline-block;
  height: 3.83px;
  width: 3.83px;
}

.client-data-details__title {
  @include fs15-blue;

  border-bottom: $border-line-sm;
  height: 80px;
  padding-left: 20px;
}

.client-data-details__list {
  @include fs14-fw400-wide;

  padding: 20px 0 0 20px;
}

.navigation-items__list {
  @include fs14-fw400-wide-blue;

  border-bottom: $border-line-strong;
  box-sizing: content-box;
  gap: 23px;
  height: 67px;
  list-style: none;
  margin: 0 16px 23px 16px;
  text-align: center;

  @include desktop {
    gap: 30px;
    height: 80px;
    text-align: start;
  }
}

.active-navigation-item {
  align-items: center;
  display: flex;
  font-weight: 600;
  height: 100%;
  position: relative;

  &:after {
    background: $green;
    border-radius: $border-radius-sm;
    bottom: -4%;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
  }
}

.payment-history-table__titles-list {
  @include fs14-fw400-tight-grey;

  list-style: none;
  padding: 30px 0 0 20px;
}

.payment-history-table__items-list {
  gap: 16px;
  list-style: none;
}

.payment-history-table__item-card {
  @include fs14-fw400;

  border-radius: $border-radius;
  box-shadow: $box-shadow-dark;
  overflow: hidden;
}

.payment-card__desktop-visible {
  height: 79px;
  padding-left: 20px;
}

.arrow-right {
  display: flex;
  margin-right: 7.57px;
  transition: all 0.3s;
}

.payment-type {
  letter-spacing: 0.75px;
}

.payment-amount-desktop {
  @include fs16;
}

.payment-amount-mobile {
  @include fs16-wide;
}

.payment-status-desktop {
  letter-spacing: 0.75px;
}

.circle {
  border-radius: $border-radius-round;
  display: inline-block;
  height: 12px;
  width: 12px;

  @include desktop {
    height: 6px;
    margin-right: 8px;
    width: 6px;
  }
}

.circle-blue {
  background-color: $blue-light;
}

.circle-green {
  background-color: $green;
}

.circle-red {
  background-color: $red;
}

.arrow {
  transition: all 0.3s;
}

.rotate-180 {
  transform: rotate(180deg);
}

.payment-card__desktop-collapsible-row {
  border-top: $border-line-sm;
  padding: 24px 0 24px 20px;
}

.payment-card__desktop-collapsible-row dd {
  font-size: 15px;
}

//Mobile

.payment-card__mobile-visible {
  @include fs12;
  padding: 24px 16px;
}

.payment-card__mobile-collapsible-transaction-data {
  font-size: 12px;
  margin: 0;
}

.payment-card__mobile-collapsible-transaction-data dd {
  font-size: 14px;
  margin-bottom: 24px;
}

.mobile-collapsible-row-style {
  border-top: $border-line-sm;
  padding: 24px 16px;
}

.accounted-data__list dt {
  font-size: 12px;
}
