$blue-dark: #283168;
$blue-darkest: #0a113d;
$blue-light: #a1caff;
$green: #01bba1;
$grey-dark: #3d424c;
$grey-light: #f1f2f4;
$grey-lightest: #fafafc;
$grey-medium: #6f7381;
$red: #dc414f;
$white: #ffffff;

$border-radius-sm: 2px;
$border-radius: 4px;
$border-radius-round: 50%;

$border-line-sm: 1px solid $grey-light;
$border-line-strong: 3px solid $grey-light;

$box-shadow-light: 0px 2px 12px 0px #0a113d1a;
$box-shadow-dark: 0px 4px 8px 0px #0000001a;

@mixin fs-16 {
  color: $grey-dark;
  font-size: 16px;
  font-weight: 600;
}

@mixin fs-16-wide {
  @include fs-16;
  letter-spacing: 0.75px;
}

@mixin fs-15-blue {
  color: $blue-dark;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.75px;
}

@mixin fs-14-fw-400 {
  font-size: 14px;
  font-weight: 400;
}

@mixin fs-14-fw-400-wide {
  @include fs-14-fw-400;
  letter-spacing: 0.75px;
}

@mixin fs-14-fw-400-tight {
  @include fs-14-fw-400;
  letter-spacing: 0.5px;
}

@mixin fs-14-fw-400-tight-grey {
  @include fs-14-fw-400-tight;
  color: $grey-medium;
}

@mixin fs-14-fw-400-tight-dark-blue {
  @include fs-14-fw-400-tight;
  color: $blue-darkest;
}

@mixin fs-14-fw-400-wide-blue {
  @include fs-14-fw-400-wide;
  color: $blue-dark;
}

@mixin fs-12 {
  font-size: 12px;
  font-weight: 400;
}

@mixin desktop {
  @media all and (min-width: 1024px) {
    @content;
  }
}
