$blue-dark: #283168;
$blue-light: #a1caff;
$green: #01bba1;
$grey-dark: #3d424c;
$grey-light: #e5e5e5;
$grey-lightest: #f1f2f4;
$grey-medium: #6f7381;
$red: #dc414f;
$white: #ffffff;

$bored-radius-sm: 2px;
$bored-radius: 4px;

$box-shadow-light: 0px 2px 12px 0px #0a113d1a;
$box-shadow-dark: 0px 4px 8px 0px #0000001a;

@mixin fs16 {
  color: $grey-dark;
  font-size: 16px;
  font-weight: 600;
}

@mixin fs16-wide {
  @include fs16;
  letter-spacing: 0.75px;
}

@mixin fs15 {
  font-size: 15px;
  letter-spacing: 0.75px;
}

@mixin fs15-blue {
  @include fs15;
  color: $blue-dark;
  font-weight: 600;
}

@mixin fs15-grey {
  @include fs15;
  color: $grey-dark;
  font-weight: 400;
}

@mixin fs14-fw400 {
  font-size: 14px;
  font-weight: 400;
}

@mixin fs14-fw400-tight {
  @include fs14-fw400;
  letter-spacing: 0.5px;
}

@mixin fs14-fw400-wide {
  @include fs14-fw400;
  letter-spacing: 0.75px;
}

@mixin fs14-fw400-tight-grey {
  @include fs14-fw400-tight;
  color: $grey-medium;
}

@mixin fs14-fw400-tight-blue {
  @include fs14-fw400-tight;
  color: $blue-dark;
}

@mixin fs14-fw400-wide-grey {
  @include fs14-fw400-wide;
  color: $grey-dark;
}

@mixin fs14-fw400-wide-blue {
  @include fs14-fw400-wide;
  color: $blue-dark;
}

@mixin fs12 {
  color: $grey-dark;
  font-size: 12px;
  font-weight: 400;
}

@mixin fs12-tight {
  @include fs12;
  letter-spacing: 0.5px;
}
